[2013-11-27 16:03] maxsilvaweb opened #1 "This does not work in internet explorer Object does not support this property or method."
Thought this was a great script until I tested in IE, trying to find a fix for it but to no avail yet

[2013-11-28 08:29] #1 closed, assigned to nobody

[2014-02-26 05:48] dj080808 opened #2 "How to work it with my own regex"
Hi there,

What other rules could be used? Other than required,minlength,email.

Then I want to validate input box with customized regex, do this plugin support that?

Thank you.
Hook.Dai

[2014-02-26 07:10] #2 closed, assigned to nobody

[2014-06-04 17:21] clemorphy opened #3 "No .error class on inputs"
Hi, when I am using the jquery.validate plugin alone, it adds an "error" class on inputs with errors.

When I add your plugin, this class is not here anymore on inputs with errors.
So I can't style the input itself anymore.

Is this a bug ?

[2014-06-05 05:05] #3 closed, assigned to nobody

[2014-07-21 12:21] reddo opened #4 "'highlight ' and 'unhighlight' not working"
I was using

[code]

Before I applied your plugin to my form and it's not adding the classes as it's supposed to. I tried logging something to console to check is my function is wrong, but that didn't work either.

Validation is working as expected, no other errors in console.

I set up a jsfiddle for this [here](http://jsfiddle.net/reddo/dkxKD/1/)

I would appreciate it if you'd look into this wh

[2014-07-21 18:49] #4 closed, assigned to nobody

[2014-12-10 06:18] cybermill opened #5 "Doesn't work with bootstrap 3.3.1"
This jquery plugin doesn't work with bootstrap 3.3.1.
I switched out 3.2.0 for 3.3.1 and it works.
So definitely an issue with 3.3.1

I haven't checked 3.3.0

Is this something your still supporting?

Jeff

[2014-12-11 05:24] #5 closed, assigned to nobody

[2014-12-16 10:15] nikoyar opened #6 "Field name as "customer[firstname]""
Your plugin is just was i need  but i have field with name as "customer[firstname]" and its make error **Uncaught SyntaxError: Unexpected token [**

[2014-12-16 13:43] #6 closed, assigned to nobody

[2015-03-23 10:06] scharfmn opened #9 "Flickering, wrong show/hide of errors on multiple clicks of submit"
When I leave all required fields, or some required fields, blank on my form, and push submit repeatedly (without changing the form in any way), I get the following:

first click the tooltips appear
second click, the tooltips disappear
third click, the tooltips appear
etc.

I also get tooltip flickering if have an incorrectly filled-in field along with the blank required ones.

And it's possible to

[2015-03-23 13:09] Thrilleratplay commented on #9
For your inputs, are you specifying "required" as a class or attribute? Using the required attribute will, or should, leave the tooltips visible even on blur.

As far as flickering is concerned, someone mentioned this issue a week or so ago and it seemed to be due to the version of jQuery Validation shipped with ASP MVC.  If you are using this, take a look at [ jQuery Validation Unobtrusive  Nativ

[2015-03-30 04:08] Thrilleratplay commented on #9
Closing pending more information.

[2015-03-31 16:54] demelvin commented on #9
Hey guys. I am also seeing this same behavior. I tried adding the required attribute and required class but this had no effect on the outcome. I will take a look at the code if I have time and see if I can't figure out what the deal is.

I am not using JQuery Validation shipped with ASP MVC.

[2015-04-01 02:05] Thrilleratplay commented on #9
Hmmm.  I wonder why different developers are having this issue all of a sudden?

@demelvin can you provide the versions of Bootstrap, jQuery and jQuery Validation used as well as browser information?

[2015-04-01 02:11] demelvin commented on #9
@Thrilleratplay absolutely

Bootstrap - v3.3.2
JQuery - v2.0.3
JQuery Validation - v0.6

I am working on something else at the moment so I haven't had time to look into this. Please let me know if you need anything else.

[2015-04-03 04:28] Thrilleratplay commented on #9
@scharfmn @demelvin I may have an update on this.

I created a fiddle and was able to reproduce the flickering problem.  I did some testing by swapping in and out different versions of jQuery, jQuery Validation and Bootstrap and found that the problem seems to come from Bootstrap v3.3.0 or later.  I tried to find what changed that would have caused this however I did not see anything.  If possible

[2015-05-05 12:19] Thrilleratplay commented on #9
@scharfmn @demelvin As much as I wanted to avoid doing so for simplicity sake, I added the flickerfix version into this repo to deal with the problems created by Bootstrap 3.3.0+.

[2015-05-05 12:19] #9 closed

[2015-05-05 14:42] demelvin commented on #9
@Thrilleratplay awesome! I'll pull it down and check it out later today. Thank you.

[2015-05-10 08:12] scharfmn commented on #9
@Thrilleratplay Thank you very much. Was using this at work, and we had to move on, but I will be returning. Best wishes, & thanks again.

[2015-05-26 08:32] mirari opened #10 "The error class and tooltip can not be removed on valid when it's empty"
successList does not include those empty inputs.
Example:
			"email-edit" : {
				email : true
			}
This input is optional.
It shows error when I input a wrong email address,but when I delete my input,the error info is still there.
So I think the "defaultShowErrors" method should be like this:
$.each(this.successList, function(index, value) {
...
});

change to:

$.each(this.validElements(), funct

[2015-05-26 13:20] Thrilleratplay commented on #10
I'm going to have to agree with you.  After taking a look at the jQuery validation source and open issues, you may have solved a number of open issues with vague descriptions that sound just like this.

When I have free time later tonight, I will to do more investigating and testing to ensure this fix does not break anything else.

[2015-05-27 05:03] Thrilleratplay commented on #10
Hmmm.  This is going to be more work than I originally though.  Sorry, I'll try to have a fix in the next day or two.

[2015-05-29 03:02] Thrilleratplay commented on #10
I was making it more complicated than it actually was.  You were right.  I pushed the fix.

[2015-05-29 03:02] #10 closed

[2015-06-09 03:35] demelvin commented on #9
@Thrilleratplay finally got around to adding this to my application. Works great! Thanks for the awesome code.

[2015-07-31 11:28] swamyuma opened #11 "jquery-validation-bootstrap-tooltip placement right does not work with _all_"
Thanks for creating a very useful plugin.  With the `_all_` option, only default placement 'top' works. It displays the tooltip always at the top, even after changing the placement to 'right' (or anything other than 'top').  Below is a snippet of what I have in my code.
[code]

[2015-08-01 00:26] Thrilleratplay commented on #11
Here is a fiddle with the snippet provided: http://jsfiddle.net/thrilleratplay/uhd7qgq8/1/

In both Firefox and Chromium, it works with the caveat that the tooltips were not rendering correctly if there was not enough space.

Try double checking the element selector

[2015-08-01 14:15] swamyuma commented on #11
I was using the `flicker` version and when I switched to the `jquery-validate.bootstrap-tooltip.min.js` version, placement right is working. Thanks!

[2015-08-01 14:15] #11 closed

[2015-08-02 23:21] xenogenesi opened #12 "not issue but question: update tooltips and messages after ajax submit"
First, nice work!

I'd like to use it but I'd like to integrate server side ajax/php validation, is there a way to update fields with errors and error messages with the content of returning json?
(I'm looking into it but I was hoping you can save me some time)

[2015-08-03 04:31] Thrilleratplay commented on #12
Without knowing specifics, I am going to say yes.

This is nothing more than a simple bridge between Bootstrap's tooltip component and jQuery Validation.  Examples of custom messages, weather they be text or HTML, are included in the demos.  While I have not tried to dynamically define messages, you should be able.  Depending on implmenetation, the jQuery Validation's validation() method may have

[2015-08-03 18:01] xenogenesi commented on #12
Thank you very much @Thrilleratplay, I had some further thought about, keeping a double (js/php) validation synced is looking for troubles, php is mandatory, so I'm (sadly, because can't find anything ready to use) writing the thing from scratch, dummy js which just submit via ajax on rate-limited events the whole form, and fill the bs's tooltips (highly inspired by your plugin) with the json resp

[2015-08-03 18:01] #12 closed

[2015-08-19 11:18] p34eu opened #14 "Chosen"
Great idea but  it breaks validation on chosen select. Does not show messages and skip's adding the error class.

[2015-08-20 00:30] Thrilleratplay commented on #14
It is working in this example:  http://jsfiddle.net/thrilleratplay/sb4pjgoc/1/

Is your select element required?

[2015-08-26 11:36] p34eu commented on #14
Yes.

It breaks when using "Chosen select" https://harvesthq.github.io/chosen/ with the  select element.

http://jsfiddle.net/m23znjpn/1/

[2015-08-26 13:00] Thrilleratplay commented on #14
This project is a bridge between jQuery Validation and Bootstrap's Tooltip plugins.  Harvesthq's Chosen has a custom stylesheet but Github has a few projects where other developers have added Bootstrap styling, [here is an example](https://github.com/alxlit/bootstrap-chosen).  I have a feeling the problem you are running into is related to an few open issues in Chosen regarding jQuery validation.

[2015-08-26 13:00] #14 closed

[2015-08-27 07:16] p34eu commented on #14
Thanks, Thrilleratplay,
Indeed, $.validator.setDefaults({ ignore: ":hidden:not(select)" } makes Chosen work also with your tooltips plugin.

[2015-09-01 12:26] bussnet opened #15 "add bower or npm support for installing with packagemanager"
http://bower.io/docs/creating-packages/

[2015-09-03 00:41] Thrilleratplay commented on #15
This is the first time I published anything to npm or bower.....hopefully I did it correctly.

[2015-09-03 00:41] #15 closed

[2015-09-12 21:36] pauldowlin opened #16 "Object key "_all_" not working"
Using input name works but when I switch to the `_all_` object it uses defaults.  Is this just me?

[code]

I'm calling version 1.9.1 of jquery (was using 1.11.3 but saw you were using 1.9.1 on demo page) from google as well as latest jquery validate & bootstrap. I'm also using jquery-validate.bootstrap-tooltip.flickerfix

[2015-09-12 21:49] pauldowlin commented on #16
I should learn to cover my bases first before commenting!

flickerfix version is missing `_` surrounding `all`.

[2015-09-13 01:43] Thrilleratplay commented on #16
Thanks for pointing that out and sorry for any inconvenience.  Fix has been pushed.

[2015-09-13 01:43] #16 closed

[2015-09-26 05:47] patrickgatesconsulting opened #17 "v4.0.0-Alpha - Destroy is now Dispose"
The method "destroy" nolonger works with Bootstrap V4.0.0-alpha, it is now dispose. It causes a bug on tooltip update.

https://github.com/twbs/bootstrap/issues/17544

[2015-09-29 05:41] Thrilleratplay commented on #17
I have not been keeping up with alpha development.  Thank you for not only pointing out but also the cause and solution to this bug as the Bootstrap documentation has still not been updated to reflect this.  I apologize for the delay, as there are now three major Bootstrap versions I want to support I had to do some house cleaning.

v0.10.0 will work for Bootstrap v2, v3 and v4 or until they make

[2015-09-29 05:41] #17 closed

[2015-12-31 22:37] Shaazaam opened #18 "jQuery dependency version"
I took a peek at your package.json and noticed your jQuery dependency version is ~1.10 and I think my npm-update is failing on this. Npm seems to think its asking for jquery@'>=1.10.0 <1.11.0' (which is what ~1.10 means I think).

Removing your library solves the problem. https://docs.npmjs.com/misc/semver#Ranges explains all of the ranges and whatnot. I may be wrong, but setting it to >=1.10 shou

[2016-01-01 01:01] Thrilleratplay commented on #18
You are correct.  I meant to use the caret instead of the tilde.  The package.json and bower.json files have been updated.  Thank you for pointing that out.

[2016-01-01 01:01] #18 closed

[2016-01-01 16:22] Shaazaam commented on #18
Thank you for getting to this as quick as you did. Everything is working great now and your plugin fits well with my system. Good job, and keep up the work!

[2016-03-02 07:30] mghohoo opened #20 "incorrect position"
![incorrect](https://cloud.githubusercontent.com/assets/1341859/13453429/0813e538-e08b-11e5-9516-7f1899ae4fac.png)

the demo can reproduce this problem.
placement='right' and the element is not in the view.

[2016-03-02 07:33] #20 closed

[2016-03-30 11:11] kamov opened #21 "Change tooltip template"
Hi,
I need to change style of tooltip only for this error handle.
bootstrap tooltip offer way to customize template, using option:

[code]

But how to do this on your plugin?
thanks!

[2016-03-30 12:32] Thrilleratplay commented on #21
There are two ways.  Either setting the message value through jQuery Validation or setting the title value through Bootstrap.  Here is a fiddle with both examples: https://jsfiddle.net/thrilleratplay/8cgj5c3u/

Just be sure to enable the 'html' option in Bootstrap's Tooltip to render the HTML instead of displaying as a string.

[2016-03-30 12:32] #21 closed

[2016-03-30 12:57] kamov commented on #21
Thank you!

[2016-03-30 13:04] kamov commented on #21
It's possible to enable html for all fields?
Something like:
tooltip_options: {
                html: true
            }
Thanks

[2016-03-30 13:22] Thrilleratplay commented on #21
Yes.  Using the '_all_' parameter.  Example: https://jsfiddle.net/thrilleratplay/8cgj5c3u/8/

[2016-03-30 13:58] kamov commented on #21
Thank You for your awesome support.

[2016-04-12 22:06] chrisvogt opened #22 "Apply tooltips only to certain forms"
Is it possible to target which instances of `.validate()` this is applied to?

Example: I have a collection of forms using the validation plugin, but only some I want tooltips on — the rest should revert to their default behavior, which allows me to define my own `errorLabelContainer`, `errorElement`, etc.

[2016-04-12 22:43] Thrilleratplay commented on #22
Hmmm.  I never thought about doing a mixture.

As is, I am going to have to say no.  This plugin works by extending the [defaultShowErrors function](https://github.com/jzaefferer/jquery-validation/blob/master/src/core.js#L839) in jQuery-validate and replacing the default functionality.

My suggestion would be to fork this project and splice together the original error labels and tooltips based on

[2016-04-12 23:22] chrisvogt commented on #22
Thanks! I looked into it, and have achieved what I wanted by hacking both this project and [jquery-validation](https://github.com/jzaefferer/jquery-validation) the following way:

_jquery-validate.bootstrap-tooltip.js_
* Renamed `defaultShowErrors()` to `tooltipShowErrors()`.

_jquery.validate.js — showErrors()_
[code]

Now, I can switch between the two per form by adding the setting `showErrors:

[2016-04-13 00:31] Thrilleratplay commented on #22
That is more or less how I was thinking about doing it.  Sorry there was isn't a more elegant way.

[2016-04-13 00:31] #22 closed

[2016-09-26 05:43] XanderCam opened #24 "jquery.validate-1.14.0.min.js MISSING in ZIP"
I scratched my head for a few minutes when I couldn't get your project to work locally.
Then after checking your example sourcecode, I found that you have not included: "jquery.validate-1.14.0.min.js" into your git.

[2016-09-26 12:09] Thrilleratplay commented on #24
This is intentional.  The master branch contains only the files for this project.  As jQuery, jQuery Validate and Twitter Bootstrap are required dependencies, it is expected they are add independently so you can use which ever versions your project warrants.

[2016-09-27 12:43] #24 closed

[2016-11-02 09:55] mitsest opened #25 "Disable tooltips for a certain (hidden) field."
Hi,
Thanks for your plugin!

I was wondering if there is a way of disabling tooltips for a field.
If you want to know more about my case it's about a textarea that gets hidden because I'm using tinyMCE editor. So, because it gets hidden, the tooltip does not appear where it's supposed to.

So I want to rollback to the default validation error for this field only.
Is there a way to achieve this?

I

[2016-11-02 10:43] mitsest commented on #25
I ended up amending your override of defaultShowErrors like this (note: the website I 'm working on uses bootstrap 2):
[code]

[2016-11-02 12:46] Thrilleratplay commented on #25
I would not suggest this approach as there are a few ways to override this behavior in jquery-validation.  If this hidden field is not required, as in can be empty, try the `ignore` property.

[code]

I am also guessing the site is using an older version of jquery-validation because ignoring hidden fields was a default added to version 1.9.

[2016-11-02 13:02] mitsest commented on #25
Hey, thanks for the fast reply.
Nah, I 'm afraid it is required, as tinyMCE on save, fills up this textarea and then the validation kicks in.

I 've added ignore: "" for this.

[2016-11-02 13:21] Thrilleratplay commented on #25
Damn, it is never the easy answer.  I was going to suggest `errorPlacement` however this is not called when using this plugin.  Unfortunately, I think you have to use the work around you have in place for the time being.  If I get time, I will try to create a formal solution to this later today.

[2016-11-02 13:22] mitsest commented on #25
Allright.
Thanks again for your time :)

[2016-11-03 02:54] Thrilleratplay commented on #25
I did some investigating.  For a plain hidden required textarea using Bootstrap v2.3.2, I could not get a tooltip error to display for that element.  Based on a few StackOverflow answers, it looks like different versions TinyMCE have quirks that could be causing your issue.  If the code you posted works for you, then user it.  The other work around looks like handling validation through the TinyMC

[2016-11-03 07:22] mitsest commented on #25
hmmm, in my case it got displayed at the far left edge of the screen...(maybe something to do with display: none positioning?)

[2016-11-10 16:06] mjenczmyk opened #26 "Add pretty form validation display"
Hello everyone!

Recently I wrote [such script](https://gist.github.com/mjenczmyk/8c2fbdb66579a5040fc58023c4001a95) to improve the way I display form input state in templates in my Django project. Basically it adds `has-error`/`has-success` class to `form-group` wrapping inputs and adds `form-control-feedback` icon to input. I use it with jQuery Validator and this plugin.

Would you be interested

[2016-11-10 16:28] Thrilleratplay commented on #26
Thank you, but I would prefer to keep this plugin as simple and generic as possible.  It would be damn near impossible to support every additional framework or jQuery plugin, then each version of those, without introducing bugs or increase the size.

You are more than welcome to fork the project and make the modification specific to your script.

[2016-11-10 16:28] #26 closed

[2016-11-10 16:29] mjenczmyk commented on #26
OK, I see. Have a good day!

[2016-12-14 20:50] Jaded-Design commented on #25
I'll open another issue since i hate just adding on to a closed issue but did you guys ever come up with a solution for this? I've got hidden inputs that are holding the values for Select2 select boxes and while I am able to validate the hidden inputs, the tooltips for all the select boxes are just piling up on the left side of the screen...

Is there a way to validate, but not throw an error mess

[2016-12-14 20:52] Jaded-Design opened #27 "Validate Hidden Inputs, But Don't Display Error Tooltips"
I've got hidden inputs that are holding the values for Select2 select boxes and while I am able to validate the hidden inputs, the tooltips for all the select boxes are just piling up on the left side of the screen...

I'd like to be able to still validate the hidden inputs but without showing a tooltip if there is an error. Alternatively, if there is a way to attach the tooltip error to the selec

[2016-12-14 21:14] Thrilleratplay commented on #25
@Jaded-Design I did not find a built in way to validate a field that does not display an error.  This makes sense in theory but there are these kinds of edge cases.  To do this, you will likely need to fork this project and make modifications to fit your needs.

Looking at [the examples](https://select2.github.io/examples.html), I would think that the if the select element had the `select2-hidden-

[2016-12-14 22:09] Jaded-Design commented on #27
For others that are running in to this issue, what I ended up doing was using CSS display:none on the tooltips for this particular form and then used the validation summary and highlighting of the inputs to show users what needed to be corrected.

So using the invalidHandler you do the following:
[code]
Then on your form (I put it on top AND bottom) you insert this html:
`

[2016-12-14 22:10] Jaded-Design commented on #25
For others that are running in to this issue, what I ended up doing was using CSS display:none on the tooltips for this particular form and then used the validation summary and highlighting of the inputs to show users what needed to be corrected.

So using the invalidHandler you do the following:
[code]
Then on your form (I put it on top AND bottom) you insert this html:
`

[2016-12-14 22:24] Jaded-Design commented on #25
@Thrilleratplay Yes, I am just using the standard Select2.js version 4.0

Don't spend any time on this for my sake though as I have already punted the idea of using the tooltips for this particular form and will just go ahead with summary and highlighting of the select2s.

Luckily it's an internal app so no customers have to use it and our salesman can just fill out the form correctly the first ti

[2016-12-15 02:18] Thrilleratplay commented on #27
@Jaded-Design OK, glad you found a work around.  If you change your mind, just create a JSFiddle example of the issue and reopen this ticket.

[2016-12-15 02:18] #27 closed

[2016-12-15 02:18] Thrilleratplay commented on #25
commenting in #27

[2016-12-15 02:18] #25 closed

[2016-12-15 23:24] tomtopweb opened #28 "Valid input radio or checkbox if it's hidden"
When I using the validation with input[type=checkbox] { display:none; }
because on front-end I'm showing the selected one by label and css, then the tooltip it's not appering and the validation is not working.

[2016-12-16 00:11] Thrilleratplay commented on #28
This is likely due to [jQuery Validation ignoring hidden and disabled fields by default](https://jqueryvalidation.org/validate/).  You can override this behavior to validate the fields but this may cause the tooltip to appear elsewhere on the page.

[2016-12-22 13:42] Thrilleratplay commented on #28
Closing issue, pending a response.

@tomtopweb If this is not the solution to your problem, please reopen and post a JSFiddle demoing the issue.

[2016-12-22 13:42] #28 closed

[2017-01-22 06:04] jast90 opened #29 "not override resetForm function ..."
not override [resetForm](https://jqueryvalidation.org/Validator.resetForm/) function .So in some condition not work.The condition is I have a bootstrap Modal show valid fields ,when valid fields show error message  and hide the modal  at the same time ,but when I show the modal again the fail message was showed.

[2017-01-22 06:20] jast90 opened #30 "Not support chosen"
Not support [chosen]( https://harvesthq.github.io/chosen/)

[2017-01-22 08:07] jast90 commented on #30
https://github.com/Thrilleratplay/jquery-validation-bootstrap-tooltip/issues/14

[2017-01-22 15:37] Thrilleratplay commented on #29
Can you provide a [jsFiddle](https://jsfiddle.net/) as an example of how this does not in some conditions?

[2017-01-23 03:37] jast90 commented on #30
http://jsfiddle.net/jast90/1260d6em/4/ the tooltips position is not correct ! If i [addClassRules](https://jqueryvalidation.org/jQuery.validator.addClassRules/) the position is not in correct.

[2017-01-23 06:35] jast90 commented on #29
@Thrilleratplay updated

[2017-01-23 09:09] jast90 commented on #30
[bootstrap doc](http://getbootstrap.com/javascript/#tooltips-usage)

[2017-01-23 14:11] Thrilleratplay commented on #29
Consolidating into #30

[2017-01-23 14:11] #29 closed

[2017-01-23 14:17] Thrilleratplay commented on #30
I see.  I'm sorry, due to the number of additional jQuery plugins and versions that could possibly create conflicts, this project can not support all of the permutations.  My suggestion is to fork this project and make the modifications you need.  I have very limited free time in the near future so unfortunately I cannot provide much help beyond that.

[2017-01-23 20:55] michaeldevenney opened #31 "Set default placement for entire form"
Is it possible to set a default for tooltip placement for the entire form instead of going element by element?

[2017-01-23 21:01] Thrilleratplay commented on #31
@michaeldevenney Yes, instead of specifying the individual element names under `tooltip_options`, you can use `_all_`

[2017-01-23 21:07] michaeldevenney commented on #31
Awesome, works like a charm!  Thanks!

[2017-01-23 21:07] #31 closed

[2017-01-24 01:32] jast90 commented on #30
Thank you all the same.

[2017-01-24 01:32] #30 closed

[2017-03-11 06:26] fazalsandhi opened #32 "how to conform password"
how to check confirm password

[2017-03-11 06:50] Thrilleratplay commented on #32
All validation is handled by [jQuery-Validation](https://jqueryvalidation.org).  This plugin only changes the error messages from labels to Bootstrap tooltips.  If you only want to check if a field is populated, then make it required.

[2017-03-11 08:30] fazalsandhi commented on #32
no i mean validate password and confirm password what i mean is

[2017-03-11 08:31] fazalsandhi commented on #32
ok thanks

[2017-03-11 15:25] #32 closed

[2017-03-17 09:37] tomtopweb opened #33 "Using with label :before or :after css"
When using radio or checkbox input elements with hidden input and using :after css for showing FontAwsome icons to see the status of the elements after submiting the form it removes the :after from the label after my inputs.

So this is what I have:
[code]

and after when it shows the tooltip for the error of validating, the :after css gone from the code, it seems it's refreshing that area.

[code

[2017-03-17 13:12] Thrilleratplay commented on #33
[code]
Is that the final HTML that is rendered?  No processing or templating engines that would modify this afterwards?  I have never seen the `::before` CSS pseudo element placed in HTML like that.

Could you also include the CSS you have that binds the icon to the label element?

[2017-03-17 13:49] tomtopweb commented on #33
I'm using with this CSS

`input[type=radio] {
   border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input[type=radio] + label:before {
    position: absolute;
    font-family: FontAwesome;
    display: inline-block;
    background: #fff;
    width: 24px;
    line-height: 20px;
    height: 24px;
    border-radius: 2

[2017-03-17 14:11] Thrilleratplay commented on #33
Ahhhh.... the `+` is [adjacent sibling selector](http://devdocs.io/css/adjacent_sibling_selectors).  As soon as the tooltip element is placed in between them, they are no longer adjacent.  The quick fix should be to use the [general sibling selector](http://devdocs.io/css/general_sibling_selectors) `~`.  However, depending on how many other sibling input and label elements there will be, it may be

[2017-03-17 14:35] tomtopweb commented on #33
Ohh, thank you very much! It solved the problem!

[2017-03-17 14:36] Thrilleratplay commented on #33
No prob.  Happy to help.

[2017-03-17 14:36] #33 closed

[2017-04-29 07:19] MohammadMasood opened #34 "Tooltip is not removing when field is hidden"
![screenshot from 2017-04-29 12 48 06](https://cloud.githubusercontent.com/assets/15152669/25553808/ebaa2518-2cda-11e7-8414-74c8976c2569.png)

[2017-04-29 15:40] Thrilleratplay commented on #34
It looks like if a "Payment Method" option is selected a "bank name" and "cheque number" field will appear.  However, if the user tries to submit without filling out those fields and reselects the "Select Payment Method" option, the fields will hide but the tooltip will remain.  If this is correct, the issue is that form validation has not reset.  First I would make "Select Payment Method" the def

[2017-05-01 16:06] MohammadMasood commented on #34
Thanks  for the help ,
I read jquery validation's example as you referred and used depends parameter and its working now ,thanks again.
Here is the solution I used :
Example: Specifies a contact element as required and as email address, the latter depending on a checkbox being checked for contact via email.

$("#myform").validate({
  rules: {
    contact: {
      required: true,
      email: {

[2017-05-01 16:06] #34 closed

[2017-05-10 03:30] rwx666888 opened #35 "When there is more than one remote will produce a bug"
When there is more than one remote will produce a bug, when the page is refreshed or the first time after loading, the first time to submit the form verification, the error message will flash and eventually disappear; possible reason is: # line54: $ each (_this.validElements () ajax callback mechanism problem; in the script block, blocking can clearly observe the implementation steps;

[2017-05-10 04:03] Thrilleratplay commented on #35
More than one remote?  As in, the form will call two different URLs to verify the form?  I would first suggest removing this plugin and see if it works as intended with just jquery-validation.  However, without looking at an JsFiddle example, I am a little confused about how this is implemented and what you are ultimately trying to accomplish.

[2017-05-10 07:02] rwx666888 commented on #35
Hello, thanks for your reply, my test code is as follows

[code]
[code]

[2017-05-10 15:15] Thrilleratplay commented on #35
@rwx666888  Hmmmm.  I have a feeling this is an async issue where the two POST request respond around the same time and each triggers a full form validation update.

Could you create an example of the bug in JSFiddle?  There are too many variables like REST implementation, javascript library versions and markup that could be the root cause.

[2017-05-19 16:19] Stone-Ynn opened #36 "Uncaught TypeError: Cannot read property 'animation' of undefined"
the version:
jquery 3.x
bootstrap3.x
jquery validate 0.5.2

<script type="text/javascript" src="/lib/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/lib/validate/localization/messages_zh.js"></script>
<scrip

[2017-05-19 16:31] Thrilleratplay commented on #36
Can you create a [JsFiddle](jsfiddle.net) reproducing this issue?

[2017-05-19 16:38] Stone-Ynn commented on #36
@Thrilleratplay

[code]

[2017-05-19 16:49] Thrilleratplay commented on #36
@Stone-Ynn Unfortunately, the error message alone does not provide enough information.   This issue is caused by an invalid element being passed into the `applyTooltipOptions` function but without seeing the implementation I cannot help.

[2017-05-19 17:01] Stone-Ynn commented on #36
@Thrilleratplay OK, Thanks. But can you give me a complete demo.
 I just reference the https://thrilleratplay.github.io/jquery-validation-bootstrap-tooltip/, and it don't work.

[2017-05-19 17:13] Thrilleratplay commented on #36
@Stone-Ynn I'm sorry, I don't understand.  Are you saying the demos on https://thrilleratplay.github.io/jquery-validation-bootstrap-tooltip/ are not working?  They work when I try them.

There are multiple possible causes that would create that error such as incompatible JQuery, JQuery-Validate and/or Bootstrap versions, HTML or JS syntax error, run time issue or something else.  Due to these vari

[2017-05-19 17:21] Stone-Ynn commented on #36
@Thrilleratplay ok, i will try the other version of libs according to your demo. Expect to solve this issue.
 Thanks for your reply anyway!

[2017-05-19 17:46] Stone-Ynn commented on #36
@Thrilleratplay I solve the issue. the bootstrap version must be 3.3.5+ . then it works.

[2017-05-19 17:48] Thrilleratplay commented on #36
@Stone-Ynn I'm glad you solved it.  Which version of Bootstrap were you using?

[2017-05-19 17:53] Stone-Ynn commented on #36
@Thrilleratplay  Now i used the latest bootstrap V3.3.7 .
And V3.3.1 caused that error.

[2017-05-19 17:59] Thrilleratplay commented on #36
@Stone-Ynn Ahhh.  That was the missing piece of information.  [Jquery 3 was not compatible with Bootstrap until version 3.37](https://github.com/twbs/bootstrap/issues/16834).

[2017-05-19 17:59] #36 closed

[2017-07-13 17:36] Jaem95 opened #37 "Position of Tooltip"
I dont know why but the tooltip that appears when validation happens appears in the left side of the control and  more less  300 px above it, THIS ONLY HAPPENS WHEN THE TOOLTIP IS  FROM A CAPTCHA, to normal inputs  the tooltip appears in the correct place.
![image](https://user-images.githubusercontent.com/15053008/28179555-f55ab136-67c7-11e7-94e1-84b79bf60403.png)

[2017-07-13 17:43] Thrilleratplay commented on #37
@Jaem95 If I had to guess, the captcha likely has a hidden input of some sort.  Check the elements within the captcha and see if you can exclude it from the jQueryValidation list.

[2017-11-14 11:10] rwx666888 commented on #35
It has been confirmed that this bug was caused by the end of animation animations, similar to an asynchronous process, tooltip ('hide') immediately after the tooltip tooltip ('show'), with its hide animation not yet over, causing show As expected, my solution is to turn off the tooltip's animation, or setTimeout 300ms to tooltip ('show')

[2017-11-14 11:10] #35 closed

[2018-02-13 09:23] cwdabba opened #38 "Cannot read property VERSION of undefined"
jquery-validate.bootstrap-tooltip.js:19 Uncaught TypeError: Cannot read property 'VERSION' of undefined
    at a.validator.defaultShowErrors (jquery-validate.bootstrap-tooltip.js:19)
    at a.validator.showErrors (jquery.validate.min.js:4)
    at a.validator.element (jquery.validate.min.js:4)
    at a.validator.onfocusout (jquery.validate.min.js:4)
    at HTMLSelectElement.b (jquery.validate.min.j

[2018-02-13 17:36] Thrilleratplay commented on #38
Sounds like you have not loaded bootstrap.js before jquery-validate.bootstrap-tooltip.js or at all.

[2018-02-14 13:41] Thrilleratplay commented on #38
@cwdabba Can you recreate this in [JsFiddle](https://jsfiddle.net/)?

[2018-02-14 17:02] channaveer commented on #38
@Thrilleratplay  Hey thank you, got it working. The library was having conflict with **jquery.ui.js**. Now working fine.

[2018-02-14 17:59] Thrilleratplay commented on #38
Glad to hear that

[2018-02-14 17:59] #38 closed

[2018-06-06 15:35] e200 opened #39 "Please, update npm version"

[2018-06-06 17:19] Thrilleratplay commented on #39
@e200 I can't believe no one has noticed this before.  Damn.  Sorry, I'll update this in a few hours when I get home.

[2018-06-06 22:32] Thrilleratplay commented on #39
Updated.

[2018-06-06 22:32] #39 closed

[2018-06-06 23:46] e200 commented on #39
🙂

[2018-06-19 11:24] Shane-01 opened #40 "Tool tip showing but is invisible"
I'm trying to use your jquery validation to display my error messages in the tool tip, the problem i have is that the tool tip is invisible please check the image I attached.
Any help would be greatly appreciated
This is the code I have in my view.

    ViewData["Title"] = "About";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha38

[2018-06-19 14:05] Thrilleratplay commented on #40
@Shane-01   Can you create a [JSfiddle](http://jsfiddle.net/) reproducing this?

[2018-06-20 04:58] Shane-01 commented on #40
@Thrilleratplay  I Fixed the issue , I had different versions of bootstrap in my solution, so i made sure all references of bootstrap are 3.3.7 and it seems to be working fine now.

[2018-06-20 13:15] Thrilleratplay commented on #40
Bootstrap made a few changes around v3.3.x that caused issues with this plugin.  Glad you fixed the issue.

[2018-06-20 13:15] #40 closed

[2018-07-04 10:50] iPazooki opened #41 "there is conflict in jquery-ui and this library"
if you use both jquery-ui and this plugin, you will get this error message:

**cannot call methods on tooltip prior to initialization; attempted to call method 'destroy'**

is there any workaround?

[2018-07-04 14:48] Thrilleratplay commented on #41
The issue is not with this plugin, it is because jQuery-UI and Bootstrap both have tooltip functionality.  You can [try this](https://stackoverflow.com/questions/13731400/jqueryui-tooltips-are-competing-with-twitter-bootstrap/19247955#19247955) but your issue is outside of the scope of this project.

[2018-07-04 14:48] #41 closed

[2018-07-04 15:18] iPazooki commented on #41
I tried what you said, but it was useless. so it seems there is no way for using this library with jQuery-UI and Bootstrap.

Thanks anyway.

[2018-07-04 15:46] Thrilleratplay commented on #41
Sorry @iPazooki.  If possible try using a customized bundle jQuery-UI without the tooltip component.

[2018-08-14 08:56] Cholo981 opened #42 "I can't trigger invalidHandler whatsoever"
If I use this options in my validate function, the submitHandler works, but the invalidHandler doesn't.
No client errors, it just doesn't trigger and I can't understand why:
[code]

I'm using the last jquery/jqValidate releases with bootstrap 4.0.  The tooltip plugin works like a charm.
The only problem, I can't find a way to display an Error near the save button when the form contains errors:
inv

[2019-01-31 14:32] Mina-R-Meshriky opened #43 "Why jQuery v1.12.4?"
when installing using npm, the console gave me the following error, and by looking into the node module files I find that the library uses jquery v1.12.4 as a dependency
![image](https://user-images.githubusercontent.com/26849271/52060737-81c3b980-2575-11e9-9e2e-0a1c014518f5.png)

![image](https://user-images.githubusercontent.com/26849271/52060850-c8b1af00-2575-11e9-9742-557f8ce326de.png)

[2019-01-31 17:43] Thrilleratplay commented on #43
It looks like the package.json was updated but not the npm module.  Sorry about that, I will update it later tonight.  The current dependency was updated to jquery: "^3.0.0" so you can manually update it in the meantime without any issue.

[2019-02-01 00:35] Thrilleratplay commented on #43
Npm has been updated.

[2019-02-01 00:35] #43 closed

[2019-02-27 13:05] Ashu131 opened #44 "$.fn.tooltip is undefined"
Message in console is `TypeError: $.fn.tooltip is undefined`

[2019-02-27 13:53] Thrilleratplay commented on #44
It sounds like Bootstrap's Tooltip js is not loaded.  Without an example, this is error message does not provide any useful information.

[2019-03-01 13:36] #44 closed

[2020-01-24 09:43] globdug opened #46 "Tooltip doesn't hide if "focusCleanup: true""
Hello,
tooltips don't hide if I set "focusCleanup: true".
Is it a problem of my configuration?

[code]

And the form is:

[code]

[2020-01-24 16:36] Thrilleratplay commented on #46
@globdug Can you provide a [JSfiddle ](https://jsfiddle.net/) recreating this with the versions of Bootstrap, jQuery, and jQuery-validation used in your project?

[2021-01-06 19:44] alexandis commented on #4
Oops... Fiddle is missing :) 6 years later.

[2021-04-04 18:34] jayb611 opened #47 "Bootstrap > 4 issue Fix"
`/**
 * @preserve
 * jQuery Validation Bootstrap Tooltip extention v0.10.2
 *
 * https://github.com/Thrilleratplay/jQuery-Validation-Bootstrap-tooltip
 *
 * Copyright 2016 Tom Hiller
 * Released under the MIT license:
 * http://www.opensource.org/licenses/mit-license.php
 */
(function ($) {
    var bsMajorVer = 0;
    var bsMinorVer = 0;

    $.extend(true, $.validator, {
        prototype: {

[2021-04-04 18:35] #47 closed